body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: black;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
  color: black;
}
img,
input {
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.wraper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 90px;
  border-bottom: 1px solid #eeeeee;
}
.header ul:first-child {
  float: left;
  height: 90px;
  display: flex;
  align-items: center;
}
.header ul:first-child li a {
  display: block;
}
.header ul:first-child li:first-child {
  margin-right: 20px;
}
.header ul:first-child .main_nav a {
  color: black;
  width: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 18px;
}
.header ul:first-child .main_nav a:hover {
  color: #31c27c;
}
.header ul:first-child .main_nav .greenbg {
  background-color: #31c27c;
  color: white;
}
.header ul:first-child .main_nav .greenbg:hover {
  color: white;
}
.header ul:last-child {
  float: right;
  display: flex;
  height: 90px;
  align-items: center;
  font-size: 16px;
}
.header ul:last-child li:first-child {
  width: 30px;
  height: 30px;
  position: relative;
}
.header ul:last-child li:first-child a {
  display: block;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  height: 30px;
  position: absolute;
  padding: 1px 3px;
  right: 0;
  top: 0;
  background-color: #fff;
}
.header ul:last-child li:first-child a input {
  display: block;
  padding-left: 10px;
  line-height: 28px;
  height: 28px;
  color: #999999;
  width: 220px;
  float: left;
  border-radius: 3px;
  box-sizing: border-box;
}
.header ul:last-child li:first-child a .iconfonts {
  display: block;
  float: right;
  background-color: #fff;
  margin-top: -28px;
  width: 26px;
  height: 26px;
  font-size: 20px;
  color: #666666;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
  border-radius: 3px;
  box-sizing: border-box;
}
.header ul:last-child li:first-child a .iconfonts:hover {
  color: #31c27c;
}
.header ul:last-child li:nth-child(2) a {
  display: block;
  width: 75px;
  text-align: center;
}
.header ul:last-child li:nth-child(2) a:hover {
  color: #31c27c;
}
.header ul:last-child li:nth-child(3) a {
  font-size: 14px;
  display: block;
  height: 40px;
  width: 120px;
  background-color: #31c27c;
  color: white;
  text-align: center;
  line-height: 40px;
}
.header ul:last-child li:nth-child(3) a:hover {
  background-color: #2ba76b;
}
.header ul:last-child li:nth-child(4) a {
  font-size: 14px;
  display: block;
  height: 40px;
  width: 100px;
  background-color: #fff;
  color: black;
  text-align: center;
  line-height: 40px;
  margin-left: 10px;
  border: 1px solid #ccc;
}
.header ul:last-child li:nth-child(4) a:hover {
  background-color: #f0f0f0;
}
.afterHeader ul {
  display: flex;
  width: 800px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}
.afterHeader ul li a {
  font-size: 15px;
  line-height: 50px;
}
.afterHeader ul li a:hover {
  color: #31c27c;
}
.afterHeader ul li a.active {
  color: #31c27c;
}
.activeCreateMode {
  display: flex;
  padding-top: 40px;
}
.activeCreateMode .left {
  width: 260px;
  position: absolute;
}
.activeCreateMode .left ul:first-child {
  width: 40px;
  border-left: 1px solid #e4e4e4;
  float: left;
}
.activeCreateMode .left ul:first-child li {
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
}
.activeCreateMode .left ul:first-child li:nth-child(4n-2) {
  width: 40px;
}
.activeCreateMode .left ul:first-child li:first-child {
  border-top: 1px solid #e4e4e4;
}
.activeCreateMode .left ul:first-child .activeLine {
  border-bottom: 1px solid #31c27c;
}
.activeCreateMode .left ul:last-child {
  margin-left: 20px;
  float: left;
}
.activeCreateMode .left ul:last-child li {
  height: 80px;
}
.activeCreateMode .left ul:last-child li a {
  line-height: 80px;
  font-size: 15px;
}
.activeCreateMode .left ul:last-child li .activeContent {
  color: #31c27c;
}
.activeCreateMode .left ul:last-child li a:hover {
  color: #31c27c;
}
.activeCreateMode .right {
  margin-left: 260px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activeCreateMode .right > div {
  width: 23%;
}
.activeCreateMode .right > div a:first-child {
  display: block;
  width: 100%;
}
.activeCreateMode .right > div a:first-child > img {
  width: 100%;
}
.activeCreateMode .right > div a:nth-child(2) {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
}
.activeCreateMode .right > div a:nth-child(2):hover {
  color: #31c27c;
}
.activeCreateMode .right > div span {
  font-size: 14px;
  display: block;
  margin-bottom: 50px;
  color: #999999;
}
.activeCreateMode .right div.modleTitle {
  width: 100%;
  display: flex;
}
.activeCreateMode .right div.modleTitle span:first-child {
  display: block;
  float: left;
  font-size: 15px;
  margin-right: 10px;
  height: 20px;
  margin-bottom: 0px;
}
.activeCreateMode .right div.modleTitle span:last-child {
  flex: 1;
  display: block;
  float: left;
  height: 9px;
  border-bottom: 1px solid #ececec;
}
@media only screen and (max-width: 1340px) {
  .wraper {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1280px) {
  .header ul:last-child li:first-child a input {
    width: 0px;
    transition: width 0.5s linear;
  }
  .header ul:last-child li:first-child a:hover > input {
    width: 220px;
    transition: width 0.5s linear;
  }
  .header ul:last-child li:nth-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .wraper {
    width: 900px;
    margin: 0 auto;
  }
  .header ul:last-child li:first-child a input {
    width: 0;
    transition: width 0.5s linear;
  }
  .header ul:last-child li:first-child a:hover > input {
    width: 230px;
    transition: width 0.5s linear;
  }
}
