body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  color: black;
  font-family: '微软雅黑';
}
a {
  text-decoration: none;
  color: black;
}
img,
input {
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}
.clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.wraper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 300px;
  background-color: rgba(255, 192, 203, 0.329);
}
.header ul:first-child {
  float: left;
  height: 90px;
  display: flex;
  align-items: center;
}
.header ul:first-child li {
  float: left;
}
.header ul:first-child li a {
  display: block;
}
.header ul:first-child li:first-child {
  margin-right: 20px;
}
.header ul:first-child .main_nav a {
  color: black;
  width: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 18px;
}
.header ul:first-child .main_nav a:hover {
  color: #31c27c;
}
.header ul:first-child .main_nav .greenbg {
  background-color: #31c27c;
  color: white;
}
.header ul:first-child .main_nav .greenbg:hover {
  color: white;
}
.header ul:last-child {
  display: flex;
  float: right;
  height: 90px;
  align-items: center;
}
.header ul:last-child a {
  display: block;
}
@media only screen and (max-width: 1240px) {
  .wraper {
    width: 900px;
    margin: 0 auto;
  }
}
